.post-container {
  display: flex;
  flex-direction: column;
  // border-bottom: 2px solid rgba(123, 119, 119, 0.25);
  margin-bottom: 10px;
  border: 1px solid rgba(224, 219, 219, 0.5);
  border-radius: 5px;

  .profile-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;

    .left {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      .profilePic {
        width: 40px;
        height: 40px;
        border: 2px solid rgba(66, 61, 61, 0.75);
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
        background-color: #242424;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .username {
        font-weight: 500;
        color: inherit;
      }

      .createdAt {
        color: rgb(81, 78, 78);
        font-weight: 400;
      }
    }

    .right {
      cursor: pointer;
    }
  }

  .post-image {
    width: 100%;
    height: 450px;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .post-details {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        cursor: pointer;
        transition: transform 100ms ease-in-out;

        .like-icon {
          font-size: 28px;
          animation: growAndShrink 0.2s ease-in-out; // Apply the animation
          transition: color 700ms ease; // Add transitions for color changes

          &.liked{
            color: red; // Change the color when liked
          }
        }
      }

      .icon:hover {
        transform: scale(1.05);
      }
    }

    .add-comment {
      display: flex;

      input {
        // background-color: whitesmoke;
        background-color: transparent;
        border: none;
        padding: 12px;
        flex-grow: 1;
        border-radius: 5px;
        color: black;
        font-weight: 500;
        overflow: scroll;
      }

      input::placeholder {
        color: gray;
      }

      input:focus {
        outline: blue; /* Remove the default outline */
        border-color: blue; /* Use the initial border color (if defined) */
      }

      .post-btn {
        appearance: none;
        border: none;
        color: rgba(0, 148, 246, 0.75);
        padding: 5px 10px;
        background-color: white;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }
}

@keyframes growAndShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}
